@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

@keyframes moveDots {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
/* 
@keyframes moveDots {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
} */
